
  {% if type != 'user' %}
     <div class="container-fluid mt-4">
    <div class="row justify-content-around text-center">
      <div class="col-lg-2 col-4 books_borrowed">
            <h3 class="fw-bold mt-3">Livros lidos</h3>
            <div class="all_returned_books row justify-content-center"></div>
            
        </div>

         <div class="col-lg-8 col-8">
            <h2 >{{title}}</h2>

            <div class="row mt-4">
                <div class="col text-center">
                    <button id="prevBtn" class="btn default_outline_btn mr-2" disabled>Anterior</button>
                    <button id="nextBtn" class="btn default_btn">Próximo</button>
                </div>
            </div>
            
            <div class="all_books row p-2"> </div>
        </div>
        <div class="col-lg-2 col-4 books_borrowed">
            <h3 class="fw-bold mt-3">Livros com você</h3>
            <div class="all_borrowed_books row justify-content-center"></div>
           
        </div>
    </div>
    <div class="model_borrowed_books col-lg-5 col-12 d-none m-1 card ">
                <img id="book_banner" src="" class="card-img-top" alt="Banner do Livro">
            </div>
</div>

<div class="col-lg-2 col-12 card d-none model_book m-1 mb-4">
    <img id="book_banner" src="" class="card-img-top" alt="Banner do Livro">
    <div class="card-body">
        <h5 id="book_title" class="card-title">TESTE</h5>
    </div>
</div>

  {% endif %}
  {% if type == 'user' %}
    <div class="container-fluid mt-4">
        <div class="row justify-content-around text-center">
            <div class="col-lg-6 col-4 books_borrowed">
                <h3 class="fw-bold mt-3">Livros para serem devolvidos</h3>
                <div class="all_borrowed_books row justify-content-center"></div>
                
            </div>
            <div class="col-lg-5 col-4 books_borrowed">
                <h3 class="fw-bold mt-3">Livros já devolvidos</h3>
                <div class="all_returned_books row justify-content-center"></div>
            </div>
        </div>
        
    </div>

    <div class="model_borrowed_books col-lg-3 col-12 d-none m-1 card">
        <img id="book_banner" src="" class="card-img-top" alt="Banner do Livro">
    </div>
  {% endif %}

<div class="modal modal_book" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title book_title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <img src="" class="card-img-top book_banner" alt="Banner do Livro">

                    <div class="d-flex mt-2">
                      <p class="fw-bold">Data para devolução:</p>
                      <p id="expiration_date"></p>
                    </div>

                     <div class="d-flex mt-2">
                      <p class="fw-bold">Linguagem:</p>
                      <p id="language"></p>
                    </div>
                    <div class="d-flex mt-2">
                      <p class="fw-bold">Total páginas:</p>
                      <p id="page_quant"></p>
                    </div>
                </div>
                  <div class="col-lg-7 col-12">
                      <p class="fw-bold">Descrição</p>
                    <p class="book_desacription"></p>
                </div>
            </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn default_outline_btny" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn default_btn save">Pegar emprestado</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal_return" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title book_title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <img src="" class="card-img-top book_banner" alt="Banner do Livro">
                </div>
            </div>        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn default_btn return" >Devolver livro</button>
        <button type="button" class="btn default_outline_btn" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>