  <div id='calendar'></div>

<div class="modal modal_calendar" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <h5>Adicionar evento</h5>
        </div>
        <div class="modal-body texe-black">
              <div class="mb-3 col-12">
                <label class="form-label">Nome</label>
                <input id="event" class="form-control"  >
                </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" id="save" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>