<div class="row p-2">
    <div class="col-11">
        <h2>{{title}}</h2>
    </div>
    <div class="col-1">
        <button id="add_news" type="button" class="btn default_outline_btn">+ Novo</button>
    </div>
    
</div>

<div >
    <div id="all_news"></div>
    <section id="model_news" class="row d-none p-3">
        <img id="img" class="col-4 rounded" src="https://img.imageboss.me/revista-cdn/cdn/20307/027086c0f43c9fb29ea017077ce8ea73be61223c.jpg?1561400337" />
        <div class="col-8">
            <h2 id="title"></h2>
            <span id="text"></span>
            <button  type="button" class="btn default_outline_btn col-5">Veja mais</button>
        </div>
       
    </section>
</div>