<div class="row p-2">
    <div class="col-11">
        <h2>{{title}}</h2>
    </div>
    {% if type == 'user' %}
          
    <div class="col-1">
        <button id="add_news" type="button" class="btn default_outline_btn">+ Novo</button>
    </div>
     {% endif %}
   
    
</div>

<div >
    <div id="all_news"></div>
    <section id="model_news" class="row d-none p-3">
        <img id="img" class="col-4 rounded" src="https://img.imageboss.me/revista-cdn/cdn/20307/027086c0f43c9fb29ea017077ce8ea73be61223c.jpg?1561400337" />
        <div class="col-8">
                 <h2 id="title"></h2>
                <span id="text"></span>
        </div>
       
    </section>
</div>

<div  class="offcanvas offcanvas-end modal_news" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Novidades</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
     <div class="mb-3">
            <label class="form-label">Titulo</label>
            <input id="title"  class="form-control"  >
        </div>
        <div class="mb-3">
           <label class="form-label">Descrição</label>
            <input id="description" class="form-control"  >
        </div>
        <div class="mb-3">
             <button id="btn_file" class="btn default_outline_btn col-5 mt-4">
                <input type="file" class="form-control" id="foto" hidden />Selecione imagem aqui
             </button>
        </div>
        <img id="picture"> </img>
        <button id="save" class="btn default_btn">Salvar</button>
  </div>
</div>

