<section class="vh-100">
  <div class="container-fluid h-custom">
  
    <div class="row d-flex justify-content-center align-items-center h-100 flex-column">
          <img class="nav_logo-icon col-12 w-25"src='./assets/images/logo_orange1.png' alt="">
      
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Nova senha</label>
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Digite nvova senha" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Nova senha novamente</label>
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Digite nvova senha novamente" />
          </div>

       

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn default_btn btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Já tem uma senha? <a href="#!"
                class="link-danger">Entrar aqui</a></p>
          </div>

        </form>
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5">
               <img src="./assets/images/fundo_login.png"
          class="img-fluid" alt="Sample image">
      </div>
    </div>
  </div>
  
</section>