<div class="row p-2">
	<div class="col-11">
		<h2>{{title}}</h2>
	</div>
	{% if type == 'user' %}
		<div class="col-1">
			<button id="add_team" type="button" class="btn default_outline_btn">+ Novo</button>
		</div>
 	{% endif %}
</div>

<div>
	<div class="model_header row text-center">
		<div class="col">Nome</div>
		<div class="col">Professor</div>
		<div class="col">Quantidade alunos</div>
		<div class="col">Status</div>
		<div class="col">Ação</div>
	</div>
	<div id="all_teams"></div>
	<div id="model_teams" class="row text-center model d-none align-items-center">
		<div id="name" class="col"></div>
		<div id="teacher" class="col"></div>
		<div id="students_size" class="col"></div>
		<div id="status" class="col"></div>
		<div class="dropdown col">
			<i class="bi bi-three-dots" data-bs-toggle="dropdown"></i>

			<ul class="dropdown-menu">
				<li>
					<a id="see_students" class="dropdown-item" href="#">Ver alunos</a>
				</li>
				{% if type == 'user' %}
					<li>
						<a id="edit" class="dropdown-item" href="#">Editar</a>
					</li>
					<li>
						<a id="delete" class="dropdown-item" href="#">Desativar</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>


<div class="modal fade modal_team" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Turma</h1>
				<button type="button" class="btn-close" d aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="mb-3 ">
							<label class="form-label">Nome</label>
							<input id="name" class="form-control" placaholder="Digite o nome da turma">
						</div>
						<div class="mb-3 ">
							<label class="form-label">Professores</label>
							<div class="row">
                                <div class="col-8">
                                    <input type="text" id="all_teachers_input" class="searchInput" placeholder="Pesquise um professor">
								    <div id="all_teachers" class="options-list d-none"></div>
                                </div>
								
						        <button id="add_teacher" type="button" class="btn default_outline_btn col-2">Adicionar</button>

							</div>
						</div>

						<div class="mb-3 ">
							<label class="form-label">Alunos</label>
							<div class="row">
                                <div class="col-8">
                                    <input type="text" id="all_students_input" class="searchInput" placeholder="Pesquise um aluno">
                                    <div id="all_students" class="options-list d-none"></div>
                                </div>
						        <button id="add_student" type="button" class="btn default_outline_btn col-2">Adicionar</button>

							</div>
						</div>

					</div>
					<div class="col-lg-6 col-12">
						<div>
							<h5 class="fw-bold">Professor(a)</h5>
							<div class="d-none" id="model_teacher">
								<div class="row align-items-center">
									<div id="name_teacher" class="col-12"></div>
								</div>
							</div>
						</div>
						<div  class="mt-2">
							<h5 class="fw-bold">Alunos(a)</h5>
							<div id="choosed_students"></div>
								<div class="d-none" id="model_student">
									<div class="row align-items-center">
										<div id="name_student" class="col-11"></div>
										<i  id="delete_student" class="fs-4 bi-trash3-fill col-1"></i>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="save" class="btn btn-primary" >Salvar</button>
			</div>
		</div>
	</div>
</div>
