    <div class="row">
        <div class="col-6 mt-2">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input  class="form-control"placeholder="Digite sua senha atual"  disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Senha Atual</label>
                <input  class="form-control"  placeholder="Digite a nova senha">
            </div>
            <div class="mb-3">
                <label class="form-label">Nova senha</label>
                <input  class="form-control" placeholder="Digite a nova senha novamente" >
            </div>
             <div class="mb-3">
                <label class="form-label">Nova senha novamente</label>
                <input  class="form-control"  >
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block">Salvar</button>
                </div>
            </div>
        </div>
        <div class="col-6 mt-2 text-center">
            <label class="form-label">Foto</label>
            <div class="text-center row flex-column align-items-center mt-2">
                <img  src="https://i.imgur.com/hczKIze.jpg" class="rounded-circle img_user " alt="Foto do usuário" width="150">
                <button class="btn default_outline_btn col-5 mt-4">Trocar imagem</button>

            </div>
        </div>
    </div>
     