    <div class="row height-100 user_section">
        <div class="col-6  ">
            <div class="mb-3">
             {% if type != 'teacher' %}
                    <label class="form-label">Email</label>
                    <input id="email" class="form-control"  disabled>
            {% endif %}
                </div>
            <div class="mb-3">
                <label class="form-label">Senha Atual</label>
                <input  class="form-control" placeholder="Digite sua senha atual">
            </div>
            <div class="mb-3">
                <label class="form-label">Nova senha</label>
                <input  class="form-control" placeholder="Digite a nova senha " >
            </div>
             <div class="mb-3">
                <label class="form-label">Nova senha novamente</label>
                <input  class="form-control"   placeholder="Digite a nova senha novamente">
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <button id="save" class="btn btn-primary btn-block">Salvar</button>
                </div>
            </div>
        </div>
        <div class="col-6  text-center picture_bloco">
            <label class="form-label">Foto</label>
            <div class="text-center row flex-column align-items-center mt-2">
                <img  id="view_picture"  src="https://i.imgur.com/hczKIze.jpg" class="rounded-circle img_user " alt="Foto do usuário" width="150">
                <button id="btn_file" class="btn default_outline_btn col-5 mt-4"><input type="file" class="form-control" id="picture" hidden>Trocar imagem</button>
             
            </div>
        </div>
    </div>
    
    <div class="modal" id="crop_modal" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Recorte de Imagem</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="cropper_container">
                        <img src="" id="cropper_image" style="max-width: 100%;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="save_crop">Cortar</button>
                </div>
            </div>
        </div>
    </div>