<header class="header" id="header">
  <div class="header_toggle col-3">
    <i class='bx bx-menu' id="header-toggle"></i>
  </div>


  <a href="/minha-conta" class="col-2" href="minha-conta">
    <div class="row align-items-center">
      <div class="header_img col-1">
          <img src="https://i.imgur.com/hczKIze.jpg" alt="">
          
      </div>
      <div class="user_name col">
          Ana Luiza
      </div>
    </div>
      
  </a>
    
 

</header>

<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="#" class="nav_logo">
        <img class="nav_logo-icon d-none" src='./assets/images/logo.png' alt="">
        <img class="nav_logo-icon  logo_small" src='./assets/images/logoSmall.png' alt="">
        <span class="nav_logo-name"></span>
      </a>
      <div class="nav_list">
        <a href="/novidades" class="nav_link active">
          <i class="bi bi-layout-text-sidebar-reverse nav_icon"></i>
          <span class="nav_name">Novidades</span>
        </a>
        <a href="/professores" class="nav_link">
          <i class="bi bi-person-lines-fill nav_icon"></i>
          <span class="nav_name">Professores</span>
        </a>
        <a href="/turmas" class="nav_link">
         <i class="bi bi-mortarboard-fill nav_icon"></i>
            <span class="nav_name">Turmas</span>
        </a>
        <a href="/notas" class="nav_link">
            <i class="bi bi-pencil-fill nav_icon"></i>
            <span class="nav_name">Notas</span>
        </a>
        <a href="/alunos" class="nav_link">
          <i class="bi bi-people nav_icon"></i>
          <span class="nav_name">Alunos</span>
        </a>
        <a href="#" class="nav_link">
        <i class="bi bi-book-fill nav_icon"></i>
          <span class="nav_name">Livros</span>
        </a>
        <a href="/calendario" class="nav_link">
        <i class="bi bi-calendar3 nav_icon"></i>
          <span class="nav_name">Calendario</span>
        </a>
      </div>
    </div>
    <a href="#" class="nav_link">
      <i class='bx bx-log-out nav_icon'></i>
      <span class="nav_name">Sair</span>
    </a>
  </nav>
</div>
<!--Container Main start-->
<div class="height-100 bg-light"> {% include  template %} </div>