<header class="header" id="header">
  <div class="header_toggle col-3">
    <i class='bx bx-menu' id="header-toggle"></i>
  </div>

<div class="col-9">
  <div class="row justify-content-end">
      {% if type != 'user' %}
        <a href="/minha-conta" class="col-lg-3 col-9" href="minha-conta">
          <div class="row align-items-center">
          
            <div class="header_img col-3 col-lg-1" >
                <img id="view_picture" src="https://i.imgur.com/hczKIze.jpg" alt="">
              
            </div>
            <div id="user_name" class="user_name col">
                Ana Luiza
            </div>
          </div>
          
        </a>
      {% endif %}  
      {% if type == 'user' %}
      <div href="/minha-conta" class="col-2" href="minha-conta">
          <div class="row align-items-center">
          
            <div class="header_img col-1">
              <i class="fs-3  bi-people"></i>
              
            </div>
            <div id="user_name" class="user_name col">
                Ana Luiza
            </div>
          </div>
            
        </div>
        {% endif %}

        {# <div class="col-1"  id="open_chats">
          <i class="fs-4 bi-chat-right-dots"></i>
          Chats
          
          {%include '../views/spinner.twig'%}
          </div>
            
        </div> #}
  </div>
</div>
 
</header>

<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="#" class="nav_logo">
        <img class="nav_logo-icon d-none" src='./assets/images/logo.png' alt="">
        <img class="nav_logo-icon  logo_small" src='./assets/images/logoSmall.png' alt="">
        <span class="nav_logo-name"></span>
      </a>
      <div class="nav_list">
        <a href="/novidades" class="nav_link active">
          <i class="bi bi-layout-text-sidebar-reverse nav_icon"></i>
          <span class="nav_name">Novidades</span>
        </a>
         {% if type == 'user' %}
          <a href="/professores" class="nav_link">
            <i class="bi bi-person-lines-fill nav_icon"></i>
            <span class="nav_name">Professores</span>
          </a>
         {% endif %}
        <a href="/turmas" class="nav_link">
         <i class="bi bi-mortarboard-fill nav_icon"></i>
            <span class="nav_name">Turmas</span>
        </a>
        <a href="/notas" class="nav_link">
            <i class="bi bi-pencil-fill nav_icon"></i>
            <span class="nav_name">Notas</span>
        </a>
         {% if type == 'user' %}
          <a href="/alunos" class="nav_link">
            <i class="bi bi-people nav_icon"></i>
            <span class="nav_name">Alunos</span>
          </a>
         {% endif %}
        <a href="#" class="nav_link">
        <i class="bi bi-book-fill nav_icon"></i>
          <span class="nav_name">Livros</span>
        </a>
        <a href="/calendario" class="nav_link">
        <i class="bi bi-calendar3 nav_icon"></i>
          <span class="nav_name">Calendario</span>
        </a>
      </div>
    </div>
    <a href="#" class="nav_link">
      <i class='bx bx-log-out nav_icon'></i>
      <span class="nav_name">Sair</span>
    </a>
  </nav>
</div>
<!--Container Main start-->
<div class=" bg-light section"> {% include  template %} </div>