 <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label class="form-label">Nome atividade</label>
                            <input id="name" class="form-control"  >
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label">Pontos</label>
                            <input id="points" class="form-control"  >
                        </div>
                        
                    </div>
                     
                    <button id="new_activity" type="button" class="btn default_outline_btn">Nova atividade</button>

                </div>
                 <div class="col-6">
                    <h5>Atividades</h5>
                    <div id="all_activitys"></div>
                    <div class="row d-none" id="model_activity">
                        <div class="col" id="name">Atividade 3</div>
                        <div class="col"  id="point">5.0</div>
                    </div>
                </div>
            </div>