.section_calendar {
  display: flex;
  align-items: center;
  height: 94vh;
  align-items: flex-start;
}
.section{
  overflow: hidden;
}
#calendar {
  width: 144%;
  height: 85%;
}

#calendar_legend {
  margin-left: 69px;
  height: 47%;
  margin-right: 38px;
  width: 33%;
  background-color: #f9ecdb;
  margin-top: 15vh;
  align-items: center;
}

  a {
    color: black;
}
.fc .fc-scrollgrid-section-header > * {
    border-bottom-width: 0px;
    background-color: var(--first-color);
}
.fc .fc-multimonth-title {
    background-color: var(--first-color);
}
.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid var(--first-color);
}
/* .fc-direction-ltr .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  background-color: var(--first-color);
}
.fc-daygrid-event.fc-event-end {
  background-color: blue;
} */

@media (max-width: 600px) {
  .section{
    overflow-y: auto;
  }
  .section_calendar {
    height: auto;
    flex-direction: column;
  }
  #calendar {
    width: 100%;
  }
  #calendar_legend {
    margin-left: 0px;
    height: auto;
    margin-right: 0px;
    width: auto;
    background-color: #f9ecdb;
    margin-top: 20px;
  }
}
