body{
    overflow: hidden;
}

.teste{
    color:orange;
}
.model_header{
    background-color: #C0C0C0;
    padding:15px ;
    font-weight: bold;

}
.model{
    padding:10px ;
    margin-top: 5px;
    border-bottom: solid 1px #D3D3D3;
}
.default_btn{
    background-color: var(--first-color);
    border: none;
}
.default_btn:hover{
    background-color: rgb(40 118 89);
    
}
.default_outline_btn{
    background:transparent;
    border-color: var(--first-color);
    color: var(--first-color);
}
.default_outline_btn:hover{
    background-color: #a74b11;
    color:white;
    
}


.searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.options-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: auto;
    position: absolute;
    background-color: white;
}

.option-item {
    padding: 8px;
    cursor: pointer;
}

.option-item:hover {
    background-color: #f0f0f0;
}
